@use "global" as *;

.campaign__inner {
  position: relative;
}

.campaign__swiper-button {
  @include mq('md') {
      display: block;
      position: relative;
      width: rem(260);
      margin-left: auto;
      margin-right: rem(-10);
      margin-top: rem(-45);
  }
}

.campaign__contents {
  margin-right: calc(50% - 50vw);
  // margin-top: rem(24);
  margin-top: rem(28);
  @include mq('md'){
      // margin-top: rem(40);
      margin-top: rem(83);
  }
}

.campaign__button {
  margin-top: rem(32);
  text-align: center;
  @include mq('md'){
      margin-top: rem(68);
  }
}

//before&next ボタン
.swiper-button-prev,
.swiper-button-next {
  width: rem(80);
  height: rem(80);
  top: rem(22);
  transition: opacity 0.3s;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: rem(80);
  width: rem(80);
  display: none;
  @include mq("md") {
    display: block;
  }
}

.swiper-button-prev::after {
  background-image: url(../images/common/arrow-left.svg);
}

.swiper-button-next::after {
  background-image: url(../images/common/arrow-right.svg);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 0.7;
}