@use "global" as *;

// ヘッダー
.header {
  height: rem(80);
  width: 100%;
  background-color: rgba(13, 41, 54, 0.68);
  @include mq('md'){
  height: rem(90);
  }
}

.header__inner {
  height: inherit;
  display: flex;
  padding-left: rem(15);
  padding-right: rem(15);
  @include mq('md'){
    padding-left: rem(40);
    padding-right: rem(20);
  }
}

.header__logo {
  height: inherit;
  width: 100%;
  max-width: rem(102);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq('md'){
    max-width: rem(133);
  }
}

.header__logo a {
  height: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.header__logo img {
  width: 100%;
  display: inline-block;
  object-fit: cover;
}

// pc header
.header__nav {
  height: inherit;
  margin-left: auto;
}

.header__items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.header__item {
  font-weight: $regular;
  height: inherit;
  color: $white;
}

.header__item a {
  height: inherit;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: rem(20);
  padding-right: rem(20);
}

.header__item a:hover{
  color: $white;
}

.header__item a::after {
  content: '';
  position: absolute;
  bottom: rem(16);
  left: rem(10);
  width: 60%;
  height: 1%;
  background: $white;
  transition: all .5s;
  transform: scale(0, 1);
  transform-origin: center top;
}

.header__item a:hover {
  text-decoration: none;
  position: relative;
}

.header__item a:hover::after {
  content: "";
  position: absolute;
  bottom: rem(16);
  left: 0;
  width: 100%;
  border-bottom: 1px solid $white;
  transform: scale(1, 1);
}

// ハンバーガー
.header__hamburger {
  position: fixed;
  z-index: 9999;
  top: rem(28);
  right: rem(15);
  width: rem(32);
  height: rem(24);
  cursor: pointer;
}

.header__hamburger.is-active {
  top: rem(28);
  right: rem(15);
}

.header__hamburger.is-active {
  top: rem(28);
  right: rem(15);
}

.header__hamburger span {
  position: absolute;
  width: 100%;
  height: rem(1);
  background-color: $white;
  border-radius: rem(1);
  display: inline-block;
  transition: 0.5s transform, 0.5s background-color;
}


.header__hamburger span:nth-of-type(1) {
  top: 0;
}
.header__hamburger span:nth-of-type(2) {
  top: rem(12);
}
.header__hamburger span:nth-of-type(3) {
  bottom: 0;
}

.header__hamburger.is-active span:nth-of-type(1) {
  transform: translateY(rem(12)) rotate(36deg);
}
.header__hamburger.is-active span:nth-of-type(2) {
  opacity: 0;
}
.header__hamburger.is-active span:nth-of-type(3) {
  transform: translateY(rem(-12)) rotate(-36deg);
}


.header__drawer {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: $green;
  display: none;
}
